.parallax-section-2 {
    position: relative;
    height: 60vh;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.parallax-bg2 {
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    background-image: url('../../assets/codingImg03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    background-attachment: fixed;
}

.site-features {
    position: relative;
    padding: 0 60px;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.site-features .site-feature {
    color: white;
    font-size: 45px;
    font-weight: 700;
    display: flex;
    width: 30vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.site-features .site-feature i {
    color: rgb(182, 199, 255);
    padding-bottom: 10px;
}

.site-features .site-feature h3 {
    color: rgb(162, 255, 150);
}

.site-features .site-feature label {
    color: rgb(133, 141, 255);
    font-size: 35px;
}

/* ````````````````````````````````````````````` */

@media screen and (min-width: 750px) and (max-width: 1100px) {

    .site-features {
        flex-wrap: wrap;
        padding: 5rem;
    }

    .site-features .site-feature {
        font-size: 45px;
    }
}

@media screen and (max-width: 750px) {

    .site-features {
        flex-direction: column;
        padding: 30px 0;
        justify-content: space-evenly;
    }

    .site-features .site-feature {
        width: 60vw;
        font-size: 22px;
        gap: 3px;
    }

    .site-features .site-feature h3 {
        color: rgb(162, 255, 150);
    }

    .site-features .site-feature label {
        font-size: 20px;
    }

}