input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== LOGIN ===============*/
.login {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: hsl(202, 100%, 74%);
}

.login__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: aqua;
}

.login__form {
    position: relative;
    margin-inline: 1.5rem;
    background-color: hsla(0, 0%, 100%, .01);
    border: 2px solid hsla(0, 0%, 100%, .7);
    padding: 2.5rem 1rem;
    color: var(--white-color);
    border-radius: 1rem;
    backdrop-filter: blur(16px);
    border-color: rgb(42, 40, 40);
    background-color: azure;
}

.login__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1.25rem;
}

.login__inputs,
.login__box {
    display: grid;
}

.login__inputs {
    row-gap: 1.25rem;
    margin-bottom: 1rem;
    border-color: black;
}

.login__box {
    grid-template-columns: 1fr max-content;
    column-gap: .75rem;
    align-items: center;
    border: 2px solid black;
    padding-inline: 1.25rem;
    border-radius: 4rem;
}

.login__input,
.login__button {
    border: none;
    outline: none;
}

.login__input {
    width: 100%;
    background: none;
    color: var(--white-color);
    padding-block: 1rem;
}

.login__input::placeholder {
    color: var(--white-color);
}

.login__box i {
    font-size: 1.25rem;
}


.login__check {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    margin-bottom: 1rem;
    font-size: var(--small-font-size);
}

.login__check-input {
    width: 1rem;
    height: 1rem;
    accent-color: var(--white-color);
}

.login__button {
    width: 70%;
    cursor: pointer;
    background-color: hsl(154, 59%, 51%);
    color: #ffffff;
    border: none;
    padding: 1em 0;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 0.2em 0 rgb(46, 167, 114);
    transition: all 0.3s;
}

.login__button:hover {
    letter-spacing: 4px;
    cursor: pointer;
    background-color: #FFB000;
}

.login__register {
    font-size: var(--small-font-size);
    text-align: center;
}

.login__register a {
    color: var(--white-color);
    font-weight: 500;
}

.login__register a:hover {
    text-decoration: underline;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
    .login {
        justify-content: center;
    }

    .login__form {
        width: 420px;
        padding-inline: 2.5rem;
    }

    .login__title {
        margin-bottom: 2rem;
    }
}