header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.container:nth-child(odd) {
    background-color: #f8f8f8;
}

.container:nth-child(even) {
    background-color: #e8e8e8;
}

.container {
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.post {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.submit-form {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

h2 {
    color: #333;
}

p {
    color: #555;
}

a {
    color: #0077b6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.submt-artcl {
    color: #ddd;
}

.submit-link {
    position: absolute;
    top: 20px;
    right: 20px;
}