@import url(https://fonts.googleapis.com/css?family=Lato);

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #f0f0f0;
    /* Professional background color */
    font-family: 'Lato', sans-serif;
    /* Use Google Font for better typography */
}

body {
    background-color: whitesmoke;
}

header {
    height: 40%;
    position: relative;
    overflow: hidden;
    background: url(https://rb.gy/a4lp2) center no-repeat;
    /* Image Credit: Unsplash.me */
    background-size: cover;
    opacity: 0.8;
}

header .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

header h1 {
    margin: 0;
}

header hgroup {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    border: 5px solid #fff;
    padding: .5em 3em;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #333 center no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: 0;
    -webkit-filter: blur(4px);
}

img {
    margin-right: 20px;
}

/* Style for the sections */
.difficulty-level {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    /* Changed to white background */
    border-radius: 5px;
    /* Slightly increased border radius for a softer look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Added box shadow for depth */
}

.difficulty-level h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.difficulty-level ul {
    list-style-type: none;
    padding: 0;
}

.difficulty-level li {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

/* Style for the questions */
.difficulty-level.easy {
    position: relative;
    overflow: hidden;
    opacity: 0.7;
    /* Reduced opacity */
}

.difficulty-level.moderate {
    position: relative;
    overflow: hidden;
    opacity: 0.7;
}

/* Add this CSS at the end of your existing styles */

/* Media query for smartphones */
@media screen and (max-width: 768px) {
    header hgroup {
        font-size: 1.2rem;
        /* Reduce font size for smaller screens */
        padding: 0.5em 1.5em;
        /* Reduce padding for smaller screens */
    }

    .difficulty-level {
        padding: 10px;
        /* Reduce padding for smaller screens */
    }

}

/* Media query for tablets */
@media screen and (max-width: 1024px) {
    header hgroup {
        font-size: 1.4rem;
        /* Further reduce font size for tablets */
    }

}