@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

#banner-homepage {
    background-image: url('https://rb.gy/wsj6s');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 100px;
    width: auto;
}

.banner-overlay {
    position: relative;
    width: 100%;
    margin: 0 3rem;
    height: 70%;
    display: flex;
    gap: 4px;
    flex-direction: column;
    justify-content: space-evenly;
}

.banner-overlay h1 {
    margin-top: 33px;
    color: #FFB000;
    font-size: 3.5rem;
    font-weight: 900;
}

.banner-overlay hr {
    margin: 20px 0;
    background-color: rgb(191, 255, 118);
    width: 70%;
    height: 4px;
}

.playChk-btns button {
    font-size: 2vw;
    padding: 1.5vw 4vw;
    /* background: linear-gradient(to right bottom, #5175A9, #211D3A, #F1F1F1); */
    background-color: #211D3A;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    transition: all ease 0.5s;
    cursor: pointer;
}


.playChk-btns button:hover {
    box-shadow: 0.5vw 0.5vw 1px rgba(241, 237, 237, -1);
    /* background: linear-gradient(to right bottom, #5175A9, #211D3A, #F1F1F1); */
    background-color: #024280;
    color: black;
    scroll-behavior: smooth;
}


#Heading2 {
    font-size: 5vw;
    font-weight: 900;
    background-color: rgb(224, 187, 23);
    background-position-x: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: left;
    font-family: 'Bai Jamjuree';
    padding: 56px;
}