.card-type1-container {
    margin: 30px;
    max-width: 100%;
    display: flex;
    justify-content: first baseline;
    /* flex-direction: column; */
}

.card-type1 i {
    font-size: 40px;
    color: rgb(103, 103, 255);
    margin-left: 10px;
}

/* .card-type1 img {
    width: 100%;
} */

.card-type1 {
    width: 23%;
    margin: 10px 12px;
    padding: 12px 0 0 12px;
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ````````````````````````````````````````````` */

@media screen and (min-width: 750px) and (max-width: 1100px) {
    .card-type1-container {
        /* width: 100%; */
        flex-wrap: wrap;
    }

    .card-type1 {
        /* position: relative; */
        width: 44%;
    }
}

@media screen and (max-width: 750px) {
    .card-type1-container {
        flex-wrap: wrap;
    }

    .card-type1 {
        /* position: relative; */
        width: 80%;
    }
}