footer {
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    background: linear-gradient(to right, orange, red);
    color: white;
    padding: 40px 0 30px 0;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    font-size: 23px;
    overflow: hidden;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 80px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    font-size: 26px;
    position: relative;
}

.col .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 18px 0 20px 0;
}

.col .social-icons {
    display: flex;
    width: 140%;
}

.col .social-icons i {
    min-width: 40px;
    height: 100%;
    font-size: 20px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: rgb(0, 0, 0);
    margin-right: 15px;
    cursor: pointer;
}

.col .useful-links li {
    list-style: none;
    margin-bottom: 12px;
}

.col .useful-links li a {
    text-decoration: none;
    color: white;
}

.form {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.form i {
    font-size: 18px;
    margin-right: 10px;
}

.form input {
    width: 100%;
    margin-bottom: 10px;
    background: transparent;
    color: #ffffff;
    /* font-size: 20px; */
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
}

.form input::placeholder {
    color: rgb(255, 196, 196);
}


.form .email {
    height: 20px;
    padding: 20px 10px;
}

.form .msg {
    height: 60px;
    padding: 0 10px 0 10px;
}


.form button {
    right: 0;
    background: #493b3b;
    color: #fff;
    margin-top: 10px;
    padding: 10px 30px;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: background 0.3s;
}

.form button:hover {
    background: #a71414;
}

.form button i {
    font-size: 16px;
    color: #ccc;
}

.form .form-btn {
    width: 100%;
}

footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 0 auto 20px auto;
}

footer .copyright {
    text-align: center;
}

.underline {
    width: 110%;
    margin-top: 14px;
    height: 5px;
    background: #4c2e2e;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 45px;
    height: 100%;
    background: rgb(182, 95, 95);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -45px;
    }

    100% {
        left: 100%;
    }
}


@media (max-width: 750px) {
    footer {
        bottom: unset;
        font-size: 16px;
    }

    .col {
        flex-basis: 100%;
        padding: 20px 5px;
    }

    .col h3 {
        font-size: 22px;
    }

    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }

    .col .email-id {
        margin-bottom: 40px;
    }


}