.card-type2-outer-container2 {
    overflow: hidden;
    margin: 12px 0px 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-type2-outer-container2 h2 {
    font-size: 3rem;
    color: #14130c;
    margin: 3rem 0 2rem 0;
}

.card-type2-outer-container2 hr {
    height: 4px;
    background-color: #d3bc1b;
    width: 94%;
    border: none;
}

.card-type2-outer-container2 button {
    margin: 40px 30px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.card-type2-outer-container2 button:hover {
    transform: scale(1.1);
}

.card-type2-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
}

.card-type2 i {
    font-size: 40px;
    color: rgb(103, 103, 255);
    margin-left: 10px;
}

/* .card-type2 img {
    width: 100%;
} */

.card-type2 {
    width: 23%;
    margin: 10px 12px;
    padding: 12px 0 0 12px;
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 13px;
    border: 1px solid black;
    border-top: transparent;
}

.contentBox ul {
    list-style: none;
    text-decoration: none;
}

.contentBox button {
    width: 50%;
    margin: 13px 0 10px 0;
    padding: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.contentBox button:hover {
    transform: none;
    letter-spacing: 1px;
}


/* ````````````````````````````````````````````` */

@media screen and (min-width: 750px) and (max-width: 1100px) {

    .card-type2-container {
        flex-wrap: wrap;
    }

    .card-type2 {
        width: 44%;
    }

}

@media screen and (max-width: 750px) {

    .card-type2-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-type2 {
        width: 80%;
    }

}