.navHeight {
    top: 0;
    position: sticky;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.9);
}


.navbar {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 1.2rem 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    z-index: 2000;
}

.logo {
    width: 100% !important;
    font-size: 2rem;
    color: #d49125;
    padding: 0 2rem;
}

.nav-links ul {
    display: flex;
    gap: 1.6em;
    list-style: none;
    margin-right: 3rem;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links ul li a:hover {
    color: #d49125;
}

.navbar .menu-hamburger {
    display: none;
    margin-right: 1.5rem;
    padding-bottom: 0.2rem;
    z-index: 5;
    color: #fff;
}

/* -------------------------------- */

.search-bar {
    width: 0;
    background-color: red;
    position: absolute;
    top: 4.4rem;
    right: 0;
    transition: width 0.3s ease-in-out;
    border: none;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.search-bar a {
    opacity: 0;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: opacity 1.4s, background-color 0.5s;
}

.search-bar a:hover {
    background-color: yellowgreen;
}

.searchBtn {
    font-size: inherit;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
}

.searchBtn:focus {
    color: red;
}

/* Additional styles for the search button icon */
.searchBtn i {
    font-size: 1.6rem;
    position: absolute;
    color: white;
}

/* Additional styles for the form container */
.search-box {
    /* background-color: red; */
    position: relative;
}

/* Styles to expand the search input */
.search-bar.expanded {
    width: 10rem;
    border: 1px solid black;
    /* padding: 0.5rem; */
    /* Add padding for better appearance */
}

.expanded a {
    opacity: 1;
}


/* `````````````````````````````````````` */
/* `````````````````````````````````````` */

@media screen and (max-width: 750px) {

    .logo {
        margin-left: 0;
        /* z-index: 13; */
    }

    .navbar .menu-hamburger {
        cursor: pointer;
        display: block;
        margin-bottom: auto;
        margin: 0;
        margin-right: 1rem;
    }

    .nav-links {
        position: absolute;
        background-color: rgb(22, 14, 14, 0.9);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 4;
        margin-left: -200%;
        opacity: 0;
        transition: margin 0.3s ease-in-out, opacity 0.4s ease-in;
    }

    .search-bar {
        display: none;
    }

    .nav-links.hamburger-toggle {
        margin-left: 0;
        opacity: 1;
    }

    .nav-links ul {
        /* display: flex; */
        padding-left: 3rem;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        font-size: 2rem;
        margin-top: 1.7rem;
    }

    /* --------------------------- */


    .searchBtn i {
        display: none;
        font-size: 1.6rem;
        color: white;
    }

    .search-bar {
        position: relative;
        padding: 1rem 1rem;
        width: 100%;
        border: none;
        border-radius: 0.2rem;
        margin-bottom: 3rem;
    }

    .search-box {
        display: grid;
    }

}